<input type="text" ng-model="nameFilter" placeholder="Search...">
	<table>
		<thead>
			<tr>
				<th colspan="4">Driver Standings {{season}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="driver in driversList | filter: searchFilter">
				<td>{{$index + 1}}</td>
				<td>
					<a href="#/drivers/{{driver.Driver.driverId}}">
						{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
					</a>
				</td>
				<td>{{driver.Constructors[0].name}}</td>
				<td>{{driver.points}}</td>
			</tr>
		</tbody>
	</table>